:root {
  --primary-color: #8bc34a;
  /* --secondary-color: #609c68; */
  --secondary-color: #058240;
  --text-color: #055132;
  --text-color-light: #fbfcfc;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #f44336;
  --reserved-color: #8bc34a;
  --cancel-button: rgb(75, 85, 75);
  --cancel-button-hover: rgb(156, 159, 156);
}

/* Bootstrap override */
.btn-primary {
  background-color: var(--secondary-color) !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: var(--primary-color) !important;
}

.btn-secondary {
  background-color: var(--cancel-button) !important;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: var(--cancel-button-hover) !important;
}
/* Color for Header and Footer */

.header-app, .header-site {
  background-color: #87c159 ; 
  color: #FFFFFF; 
}

.footer-app, .footer-site {
  background-color: #058240;
  color: #FFFFFF;
}

.copyName {
  color: #FFFFFF;
}

/* Ð¡entering for Header and Footer */

.header-app, .header-site {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  width: 100%;
}


/* Home Page */
.home {
  text-align: center;
}
.main-Name-title {
  text-align: center;
  color: #058240;
}
.main-Name{
  text-align: center;

}
.text-block-title{
  text-align: center;
}

.home-header {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;  /* Ensures no overflow of child elements, if necessary */
}

.hero-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover; 
  display: block; 
  margin: 0; 
}



 .header-text {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fd7565;
  /* #d77c72 */
  font-size: 2.5em;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  max-width: 800px;
} 

.home-content {
  padding: 20px;
  background: #f9f9f9;
  text-align: left;
}

.home-content section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.home-content h2 {
  color: #8bc34a; /* Adjust color if necessary */
}

.home-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.home-content ul li {
  margin: 5px 0;
}

/* Responsive styling */
@media (max-width: 1024px) {
  .header-text {
    font-size: 2em;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .header-text {
    font-size: 1.5em;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .header-text {
    font-size: 1.2em;
    padding: 5px 10px;
  }
}
/* 
Second section of content on the home page */
.features-section {
  display: flex;
  align-items: center; 
  justify-content: space-around; 
}

.text-block, .image-block {
  flex: 1; 
  padding: 20px; 
}

.image-block {
  display: flex;  
  justify-content: center;  
  align-items: center; 
  width: 100%;  
  border-radius: 5%;}

  .image-block img {
    width: 60%;  
    height: auto;  
}

@media (max-width: 768px) {
  .features-section {
      flex-direction: column; 
  }

  .text-block, .image-block {
      flex: none; 
      width: 100%; 
  }
}
/* Steps-container */
.steps-container-title{
  text-align: center; 
}
.steps-container {
  max-width: 800px; /* Adjust as necessary for your layout */
  margin: auto; /* Centers the container */
  padding: 20px;
}

.steps-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.steps-container ol {
  padding-left: 0; /* Removes default padding */
  list-style: none; /* Removes default list styling */
}

.steps-container li {
  text-align: left; /* Ensures text alignment for list items */
  margin-bottom: 20px; /* Space between each step */
}

.steps-container h3 {
  text-align: center; /* Centers all H3 headings */
  margin-bottom: 10px;
}

.steps-container ul {
  list-style-type: disc; /* Adds bullet points to the list */
  padding-left: 40px; /* Indents the list items for better alignment */
}

.steps-container ul li {
  text-align: left; /* Aligns list text to the left */
}

/* About Page */
.about {
  text-align: center;
}

.about-header {
  position: relative;
  text-align: center;
  color: white;
}

.header-image {
  width: 100%;
  height: auto;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fd7565;
  font-size: 2.5em;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  max-width: 800px;
}

.about-content {
  padding: 20px;
  background: #f9f9f9;
  text-align: left;
}

.about-content section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.about-content h2 {
  color: #8bc34a; /* Adjust color if necessary */
}

.about-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-content ul li {
  margin: 5px 0;
}

/* Responsive styling */
@media (max-width: 1024px) {
  .header-text {
    font-size: 2em;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .header-text {
    font-size: 1.5em;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .header-text {
    font-size: 1.2em;
    padding: 5px 10px;
  }
}

/* Contact Page */
.form-name{
  color: #058240;
  text-align: center;
}

.email-us{
  color:#058240;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.contact-header {
  text-align: center;
  margin-bottom: 20px;
  color: #fd7565;
}

.feedback-section {
  width: 100%;
  max-width: 600px; 
  padding: 20px;
  border: 1px solid #ccc; 
  box-shadow: 0px 0px 10px #ccc; 
  margin-bottom: 20px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  margin-bottom: 10px;
}

.additional-feedback {
  margin-top: 20px;
}

.additional-feedback textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

a {
  color:#058240;

}

a:hover {
  text-decoration: underline;
}

.submit-button {
  padding: 10px 20px;
  background-color: #058240; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  margin-top: 20px; 
  transition: background-color 0.3s ease;

 
  &:hover {
    background-color: #04632b; 
  }
}
/* SignInPage */
.sign-in-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  margin-top: 50px;
}

.sign-in-container h2 {
  margin-bottom: 1rem;
  color: green;
}

.sign-in-container form {
  display: flex;
  flex-direction: column;
}

.sign-in-container form div {
  margin-bottom: 1rem;
}

.sign-in-container form label {
  margin-bottom: 0.5rem;
  display: block;
}

.sign-in-container form input[type="email"],
.sign-in-container form input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.sign-in-container form button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.sign-in-container p {
  margin-top: 1rem;
}

.sign-in-container a {
  color: green;
  text-decoration: none;
}

.sign-in-container a:hover {
  text-decoration: underline;
}

/* SignUpPage */
.sign-up-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.sign-up-container h2 {
  margin-bottom: 1rem;
  color: green;
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
}

.sign-up-container form div {
  margin-bottom: 1rem;
}

.sign-up-container form label {
  margin-bottom: 0.5rem;
  display: block;
}

.sign-up-container form input[type="text"],
.sign-up-container form input[type="email"],
.sign-up-container form input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.sign-up-container form button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.sign-up-container p {
  margin-top: 1rem;
}

.sign-up-container a {
  color: green;
  text-decoration: none;
}

.sign-up-container a:hover {
  text-decoration: underline;
}

/* User Management Page */
.user-management {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: calc(
    100vh - 200px
  ); /* Adjust according to header and footer height */
}

.table-container {
  width: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  /* box-sizing: border-box; thins the futre*/
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  /* vertical-align: middle; */
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
/* Dashboard */
.dashboard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20rem;
  gap: 2rem;
  min-height: calc(
    100vh - 200px
  ); }

.welcome-section h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px; /* Limit the width for better alignment */
}

.image-container img {
  width: 48%; /* Adjust width to maintain space between images */
  height: auto;
} 



/* Main */
main {
  padding: 1rem;
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 0;
  }
}

/* HeaderApp */
.header-app {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  height: 36px;
  width: 100vw;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .space-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1.3em;
  font-size: 1.2em;
  position: relative;
  margin-right: 1.7em;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  width: 200px;
}

.search-bar input {
  border: none;
  /* padding: 0.5rem; */
 height: 25px;
 width: 15px;
  flex: 1;
  outline: none;
  font-size: 15px;
}

.search-bar button {
  background-color: transparent;
  border: none;
  color: #4caf50;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.header-right svg {
  cursor: pointer;
}

.user-dropdown {
  position: relative;
}

.user-icon {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 31px;
  right: -20px;
  color: var(--text-color-light);
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 20;
  display: none;
}

.dropdown-menu.visible {
  display: block;
}

.dropdown-menu button {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}

.dropdown-menu button:hover {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  font-weight: bold;
}

/* HeaderAdmin */
.header-admin {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--text-color-light);
  width: 100%;
}

.header-admin-left {
  margin-left: 14em;
  display: flex;
  align-items: center;
}

.header-admin-left .space-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-admin-right {
  display: flex;
  align-items: center;
  gap: 1.2em;
  font-size: 1.2em;
  margin: 0 2em;
}

.header-admin-right svg {
  cursor: pointer;
}

/* FooterApp */
.footer-app {
  color: white;
  text-align: center;
  height: auto;  /* Adjust the height as necessary */
  display: flex;
  justify-content: center;  /* Centering the footer content horizontally */
  align-items: center;  /* Align items vertically */
  flex-wrap: wrap;
  padding-top:13px;
  padding-left: 220px;
gap: 30px;
}

.footer-section {
  margin: 0 1rem;  /* Reduced margin to decrease the space between columns */
  flex: 1 1 20%;  /* Giving each footer section flexibility to grow, keeping the width flexible */
  min-width: 140px;  /* Minimum width for each section to maintain structure */
}

.footer-section h4 {
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;

}

.footer-app p {
  flex-basis: 100%;
  text-align: center;
  margin-top: -2rem;  /* Ensuring there's sufficient space above the copyright text */
}
footer {
  width: 100%;
  margin: 0; /* Ensure there are no margins pushing the footer inward */
}
@media (max-width: 1024px) {
  .footer-app {
    justify-content: space-around;  /* Ensure spacing is even on smaller screens */
    padding: 20px 10px;  /* Adjust padding for smaller screens */
    width: 100vw;  /* Full width on smaller screens */
    margin-left: 0;  /* Remove margin as sidebar likely changes to overlay or hidden */
  }
}
/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 0.3rem;
  overflow-y: auto;
}

/* Layout Header */
header-site {
  display: flex;
  background-color: #87c159 ;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.navbar {
  flex-grow: 1;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
   margin-right: 30px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.navbar-links a:hover {
  /* background-color:   #8bc34a; */
  color: var(--text-color-light); /* Change text color on hover */
}

.navbar-links .active {
  background-color: #609c68; /* Active link background color */
  color: var(--text-color-light); /* Active link text color */
}

/* Layout Footer */
.footer-site {
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  width: auto;
  bottom: 0;
}

/* LayoutApp */
.layout-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.layout-app-main {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.layout-app-content {
  margin-left: -25px; /* Width of expanded sidebar */
  transition: margin-left 0.3s ease;
  color:  #fd7565;;
}

.layout-app-content.sidebar-visible {
  margin-left: 250px;
}

.layout-app-content.sidebar-collapsed {
  margin-left: 60px; /* Width of collapsed sidebar */
}

/* Sidebar */
.sidebar {
  background-color: #058240;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 15;
}

.logo {
  border-radius: 50%;
  margin-top: 0.3em;
  margin-left: 0.3em;
  height: 36px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-items {
  height: fit-content;
  padding-top: 2em;
}

.sidebar-item {
  margin: auto;
}

.sidebar-item span {
  margin-right: 0.7em;
}

.sidebar-link,
.sidebar-sublink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-light);
  padding: 0.7em 0.6em 0.7em 0.1em;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.sidebar-link:hover,
.sidebar-sublink:hover {
  background-color: var(--secondary-color);
}

.sidebar-icon {
  font-size: 1.2em;
  margin: 0.6em 0.4em;
  min-width: 1.1em;
}

.sidebar-link span,
.sidebar-dropdown-content {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-link span,
.sidebar.collapsed .sidebar-dropdown-content {
  opacity: 0;
}

.sidebar-dropdown-content {
  margin-left: 2.1em;
}

.sidebar-toggle {
  position: absolute;
  margin: 2em 0.2em 1em 0;
  bottom: 1em;
  right: 0em;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.expanded {
  width: 170px;
}

.sidebar.collapsed .sidebar-toggle {
  right: 0em;
  margin: 2em 0.2em 0 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.expanded {
    width: 250px;
  }
  .layout-app-content {
    margin-left: 60px;
  }
  .layout-app-content.sidebar-visible {
    margin-left: 250px;
  }
}
