:root {
  --primary-color: #8bc34a;
  --secondary-color: #609c68;
  --text-color: #055132;
  --text-color-light: #fbfcfc;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #f44336;
  --reserved-color: #8bc34a;
}
/* Color for Header and Footer */

.header-app, .header-site {
  background-color: #87c159 ; 
  color: #FFFFFF; 
}

.footer-app, .footer-site {
  background-color: #058240;
  color: #FFFFFF;
}

.copyName {
  color: #FFFFFF;
}

/* Ð¡entering for Header and Footer */

.header-app, .header-site {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  width: 100%;
}


/* Home Page */
.home {
  text-align: center;
}
.main-Name-title {
  text-align: center;
  color:#d77c72;
}
.main-Name{
  text-align: center;

}
.text-block-title{
  text-align: center;
}
/* Old code */
/* .home-header {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: auto;
} */

.home-header {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;  /* Ensures no overflow of child elements, if necessary */
}

.hero-image {
  width: 100%;
  max-height: 250px; /* Limits the height of the image */
  object-fit: cover; /* Ensures the image covers the space without distorting */
  display: block;  /* Removes extra space/margin below the image */
  margin: 0; /* Removes any default margin around the image */
}



 .header-text {

  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fd7565;
  /* #d77c72 */
  font-size: 2.5em;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  max-width: 800px;
} 

.home-content {
  padding: 20px;
  background: #f9f9f9;
  text-align: left;
}

.home-content section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.home-content h2 {
  color: #8bc34a; /* Adjust color if necessary */
}

.home-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.home-content ul li {
  margin: 5px 0;
}

/* Responsive styling */
@media (max-width: 1024px) {
  .header-text {
    font-size: 2em;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .header-text {
    font-size: 1.5em;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .header-text {
    font-size: 1.2em;
    padding: 5px 10px;
  }
}
/* 
Second section of content on the home page */
.features-section {
  display: flex;
  align-items: center; 
  justify-content: space-around; 
}

.text-block, .image-block {
  flex: 1; 
  padding: 20px; 
}

.image-block {
  display: flex;  
  justify-content: center;  
  align-items: center; 
  width: 100%;  
  border-radius: 5%;}

  .image-block img {
    width: 60%;  
    height: auto;  
}

@media (max-width: 768px) {
  .features-section {
      flex-direction: column; 
  }

  .text-block, .image-block {
      flex: none; 
      width: 100%; 
  }
}
/* Steps-container */
.steps-container-title{
  text-align: center; 
}
.steps-container {
  max-width: 800px; /* Adjust as necessary for your layout */
  margin: auto; /* Centers the container */
  padding: 20px;
}

.steps-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.steps-container ol {
  padding-left: 0; /* Removes default padding */
  list-style: none; /* Removes default list styling */
}

.steps-container li {
  text-align: left; /* Ensures text alignment for list items */
  margin-bottom: 20px; /* Space between each step */
}

.steps-container h3 {
  text-align: center; /* Centers all H3 headings */
  margin-bottom: 10px;
}

.steps-container ul {
  list-style-type: disc; /* Adds bullet points to the list */
  padding-left: 40px; /* Indents the list items for better alignment */
}

.steps-container ul li {
  text-align: left; /* Aligns list text to the left */
}

/* About Page */
.about {
  text-align: center;
}

.about-header {
  position: relative;
  text-align: center;
  color: white;
}

.header-image {
  width: 100%;
  height: auto;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fd7565;
  font-size: 2.5em;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  max-width: 800px;
}

.about-content {
  padding: 20px;
  background: #f9f9f9;
  text-align: left;
}

.about-content section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.about-content h2 {
  color: #8bc34a; /* Adjust color if necessary */
}

.about-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-content ul li {
  margin: 5px 0;
}

/* Responsive styling */
@media (max-width: 1024px) {
  .header-text {
    font-size: 2em;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .header-text {
    font-size: 1.5em;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .header-text {
    font-size: 1.2em;
    padding: 5px 10px;
  }
}

/* Contact Page */
.form-name{
  color:#8bc34a;
  text-align: center;
}

.email-us{
  color:#058240;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.contact-header {
  text-align: center;
  margin-bottom: 20px;
  color: #fd7565;
}

.feedback-section {
  width: 100%;
  max-width: 600px; 
  padding: 20px;
  border: 1px solid #ccc; 
  box-shadow: 0px 0px 10px #ccc; 
  margin-bottom: 20px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  margin-bottom: 10px;
}

.additional-feedback {
  margin-top: 20px;
}

.additional-feedback textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

a {
  color:#058240;

}

a:hover {
  text-decoration: underline;
}

.submit-button {
  padding: 10px 20px;
  background-color: #058240; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  margin-top: 20px; 
  transition: background-color 0.3s ease;

 
  &:hover {
    background-color: #04632b; 
  }
}
/* SignInPage */
.sign-in-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  margin-top: 50px;
}

.sign-in-container h2 {
  margin-bottom: 1rem;
  color: green;
}

.sign-in-container form {
  display: flex;
  flex-direction: column;
}

.sign-in-container form div {
  margin-bottom: 1rem;
}

.sign-in-container form label {
  margin-bottom: 0.5rem;
  display: block;
}

.sign-in-container form input[type="email"],
.sign-in-container form input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.sign-in-container form button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.sign-in-container p {
  margin-top: 1rem;
}

.sign-in-container a {
  color: green;
  text-decoration: none;
}

.sign-in-container a:hover {
  text-decoration: underline;
}

/* SignUpPage */
.sign-up-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.sign-up-container h2 {
  margin-bottom: 1rem;
  color: green;
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
}

.sign-up-container form div {
  margin-bottom: 1rem;
}

.sign-up-container form label {
  margin-bottom: 0.5rem;
  display: block;
}

.sign-up-container form input[type="text"],
.sign-up-container form input[type="email"],
.sign-up-container form input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.sign-up-container form button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.sign-up-container p {
  margin-top: 1rem;
}

.sign-up-container a {
  color: green;
  text-decoration: none;
}

.sign-up-container a:hover {
  text-decoration: underline;
}

/* Dashboard */
.dashboard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20rem;
  gap: 2rem;
  min-height: calc(
    100vh - 200px
  ); /* Adjust according to header and footer height */
}

.welcome-section h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px; /* Limit the width for better alignment */
}

.image-container img {
  width: 48%; /* Adjust width to maintain space between images */
  height: auto;
}

/* LayoutApp */
.layout-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-app-main {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.layout-app-content {
  transition: margin-left 0.3s ease-in-out;
}

.layout-app-content.sidebar-visible {
  margin-left: 250px;
}

.layout-app-content.sidebar-hidden {
  margin-left: 0;
}

/* LayoutAdmin */
.layout-admin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-admin-main {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.layout-admin-content {
  transition: margin-left 0.3s ease-in-out;
}

.layout-admin-content.sidebar-visible {
  margin-left: 250px;
}

.layout-admin-content.sidebar-hidden {
  margin-left: 0;
}

/* Main */
main {
  padding: 1rem;
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 0;
  }
}

/* HeaderApp */
.header-app {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--text-color-light);
  width: 100%;
}

.header-left {
  margin-left: 14em;
  display: flex;
  align-items: center;
}

.header-left .space-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1.2em;
  font-size: 1.2em;
  margin: 0 2em;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  width: 200px; /* Set a fixed width for the search bar */
}

.search-bar input {
  border: none;
  padding: 0.5rem;
  flex: 1;
  outline: none;
}

.search-bar button {
  background-color: transparent;
  border: none;
  color: #4caf50;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.header-right svg {
  cursor: pointer;
}

/* HeaderAdmin */
.header-admin {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--text-color-light);
  width: 100%;
}

.header-admin-left {
  margin-left: 14em;
  display: flex;
  align-items: center;
}

.header-admin-left .space-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-admin-right {
  display: flex;
  align-items: center;
  gap: 1.2em;
  font-size: 1.2em;
  margin: 0 2em;
}

.header-admin-right svg {
  cursor: pointer;
}

/* FooterApp */
.footer-app {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
  width: 100%; /* Ensure it takes the full width */
  height: auto; /* Fixed height for the footer */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 0;
}

.footer-section {
  margin: 0 1rem;
  text-align: center;
}

.footer-section h4 {
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-app p {
  flex-basis: 100%;
  text-align: center;
  margin-top: 2rem;
}

/* FooterAdmin */
.footer-admin {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
  width: 100%; /* Ensure it takes the full width */
  height: auto; /* Fixed height for the footer */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 0;
}

.footer-admin-section {
  margin: 0 1rem;
  text-align: center;
}

.footer-admin-section h4 {
  margin-bottom: 1rem;
}

.footer-admin-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-admin-section ul li {
  margin-bottom: 0.5rem;
}

.footer-admin-section ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-admin p {
  flex-basis: 100%;
  text-align: center;
  margin-top: 2rem;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 0.3rem;
  overflow-y: auto;
}

/* Layout Header */
header-site {
  display: flex;
  background-color: #87c159 ;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}



.logo {
  border-radius: 50%;
  margin-top: 0.5em;
  margin-left: 0.5em;
  height: 40px;
}

.sidebar-logo {
  display: flex;
  align-items: center;
}

.navbar {
  flex-grow: 1;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
   margin-right: 30px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.navbar-links a:hover {
  /* background-color:   #8bc34a; */
  color: var(--text-color-light); /* Change text color on hover */
}

.navbar-links .active {
  background-color: #609c68; /* Active link background color */
  color: var(--text-color-light); /* Active link text color */
}

/* Layout Footer */
.footer-site {
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  width: auto;
  bottom: 0;
}

@media (max-width: 768px) {
  .layout-app-content {
    width: 100%;
  }
}

/* Custom CSS for CoreUI Sidebar */
.sidebar {
  background-color: var(--secondary-color);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow-x: auto;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 15;
}

.sidebar.collapsed {
  width: 3.5em;
}

.sidebar-items {
  height: fit-content;
  padding-top: 2em;
}

.sidebar-item {
  margin: auto;
}

.sidebar-item span {
  margin-right: 0.7em;
}

.sidebar-link,
.sidebar-sublink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-light);
  padding: 0.7em 0.6em 0.7em 0.1em;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.sidebar-link:hover,
.sidebar-sublink:hover {
  background-color: var(--secondary-color);
}

.sidebar-icon {
  font-size: 1.2em;
  margin: 0.6em 0.4em;
  min-width: 1.1em;
}

.sidebar-link span,
.sidebar-dropdown-content {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-link span,
.sidebar.collapsed .sidebar-dropdown-content {
  opacity: 0;
}

.sidebar-dropdown-content {
  margin-left: 2.1em;
}

.sidebar-toggle {
  position: absolute;
  margin: 2em 0.2em 1em 0;
  bottom: 1em;
  right: 0em;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar.expanded {
  width: 12.5em;
}

.sidebar.collapsed .sidebar-toggle {
  right: 0em;
  margin: 2em 0.2em 0 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.expanded {
    width: 250px;
  }
}

/* SidebarAdmin */
.sidebar-admin {
  background-color: var(--secondary-color);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow-x: auto;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 15;
}

.sidebar-admin.collapsed-admin {
  width: 3.5em;
}

.sidebar-items-admin {
  height: fit-content;
  padding-top: 2em;
}

.sidebar-item-admin {
  margin: auto;
}

.sidebar-item-admin span {
  margin-right: 0.7em;
}

.sidebar-link-admin,
.sidebar-sublink-admin {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-light);
  padding: 0.7em 0.6em 0.7em 0.1em;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.sidebar-link-admin:hover,
.sidebar-sublink-admin:hover {
  background-color: var(--secondary-color);
}

.sidebar-icon-admin {
  font-size: 1.2em;
  margin: 0.6em 0.4em;
  min-width: 1.1em;
}

.sidebar-link-admin span,
.sidebar-dropdown-content-admin {
  transition: opacity 0.3s ease;
}

.sidebar-admin.collapsed-admin .sidebar-link-admin span,
.sidebar-admin.collapsed-admin .sidebar-dropdown-content-admin {
  opacity: 0;
}

.sidebar-dropdown-content-admin {
  margin-left: 2.1em;
}

.sidebar-toggle-admin {
  position: absolute;
  margin: 2em 0.2em 1em 0;
  bottom: 1em;
  right: 0em;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-admin.expanded-admin {
  width: 12.5em;
}

.sidebar-admin.collapsed-admin .sidebar-toggle-admin {
  right: 0em;
  margin: 2em 0.2em 0 0;
}

@media (max-width: 768px) {
  .sidebar-admin {
    width: 60px;
  }
  .sidebar-admin.expanded-admin {
    width: 250px;
  }
}
