.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
  background-color: rgb(248, 251, 244);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: green;
}

.App-link {
  color: #61fb75;
}

/* Home Page */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 0.3rem;
  overflow-y: auto;
}

/* Layout Header */
header {
  background-color: #87c159;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 45px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  padding-right: 0.5rem;
  gap: 1rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

/* Layout Footer */
footer {
  background-color: #058240;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  width: auto;
  bottom: 0;
}

/* Layout Sidebar */
aside {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 200px;
}

aside nav ul {
  list-style-type: none;
}

aside nav ul li {
  margin: 0.5rem 0;
}

aside nav ul li a {
  text-decoration: none;
  color: #333;
}
